* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #222831;
    margin: 0%;
    padding: 0%;
}

header {
    margin: auto;
    height: 80px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #30475E;
}

h1 {
    color: #DDDDDD;
    font-size: xx-large;
    margin: 2%;
    text-align: center;
}

.sidebar {
    box-sizing: border-box;
    width: 30%;
    background-color: #DDDDDD;
    border: 5px solid #30475E;
    border-left: none;
    margin: 0%;
    min-height: 300px;
    text-align: center;
    border-radius: 0px 40px 40px 0px;
    position: relative;
    top: 200px;
    float: left;
}

.img {
    border-radius: 50%;
    border: 5px solid #30475E;
    margin: 20px;
    position: relative;
    top: -145px;
}

.button {
    width: 150px;
}

.button-social {
    background-color: #DDDDDD;
    border: 3px solid #30475E;
    color: #30475E;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 20px;
    margin: 30px 125px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    top: -100px;
}

.button-social:hover {
    background-color: #30475E;
    color: #DDDDDD;
    transition: 0.6s;
}

.content {
    margin-top: 120px;
    width: 70%;
    float: right;
}

p {
    display: inline-block;
    text-align: center;
    color: white;
}

.para1, .para2 {
    font-size: 20px;
    width: 520px;
    position: relative;
    right: -200px;
}

.para1 {
    padding-top: 50px;
}

.connect-heading {
    color: #30475E;
    font-size: 20px;
    position: relative;
    top: -120px;
}